/* ========== VARIABLES AND FULL DOC STYLES ========== */
:root {
  --color-bg: #fff;
  --color-text: #111;
  --color-text-light: #7e7d79;
  --color-header: #dc4c3e;
  --color-header-light: #da685e;
  --color-header-text: #ffffff;
  --color-left-nav: #fefbf2;
  --color-left-nav-hover: #f0f0f0;
  --color-left-nav-count: #7e7d79;
  --color-inbox-border: #cdcdcd;

  --rounding-radius: 5px;

  --left-nav-width: 300px;

  --main-list-padding: 1rem;
}

.taskManager {
  color: black;
  display: grid;
  grid-template-columns: var(--left-nav-width) 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

/* ========== HEADER STYLES ========== */
.site-header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  color: var(--color-header-text);
  padding: 0.5rem;
  border-radius: var(--rounding-radius);
}

.site-header__status {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.site-header__count {
  margin-left: 0.5rem;
}

.hamburger-menu-button {
  background-color: var(--color-header);
  border: var(--color-header);
  border-radius: var(--rounding-radius);
}

.hamburger-menu-button:hover {
  cursor: pointer;
}

.search-container {
  background-color: var(--color-header-light);
  display: flex;
  border-radius: var(--rounding-radius);
  width: 255px; /* keeps same length as left nav area*/
  height: 2rem;
}

.search-icon {
  background: none;
  align-self: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.search-input {
  color: var(--color-header-text);
  background: none;
  border: none;
  flex: 1;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:focus {
  /*I didn't like the default blue focus box when typing*/
  outline: none;
  border: 2px solid #ffffff;
  border-radius: var(--rounding-radius);
}

/* ========== NAVIGATION STYLES ========== */
.left-nav {
  grid-column: 1 / 2;
  grid-row: 2;
  background-color: var(--color-left-nav);
  color: var(--color-text);
  padding: 1rem;
}

.left-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item,
.nav-sub-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex: 0;
  padding: 0.5rem;
  border-radius: var(--rounding-radius);
  margin: 0rem;
}

.nav-item p {
  margin: 0rem;
}

.nav-sub-item p {
  margin: 0rem;
}

.nav-count {
  font-size: 12px;
  color: var(--color-left-nav-count);
}

.nav-item:hover {
  background-color: var(--color-left-nav-hover);
  cursor: pointer;
  font-weight: bold;
}

.nav-filter:hover {
  background-color: var(--color-left-nav-hover);
  cursor: pointer;
  font-weight: bold;
  border-radius: var(--rounding-radius);
}

.nav-filter.active {
  color: var(--color-header);
  font-weight: bold;
}

/* ========== MAIN CONTENT STYLES ========== */
.main-content {
  padding: 1rem;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

.main-content ul {
  margin: 0rem;
  padding: 0;
  list-style-type: none;
}

.main-content li {
  border-bottom: 1px solid var(--color-inbox-border);
  padding-top: var(--main-list-padding);
  padding-bottom: var(--main-list-padding);
  display: flex;
  align-items: center;
}

.main-list-checkbox {
  width: 1.3rem;
  height: 1.3rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  /* flex 0 0 auto keeps fixed size */
  flex: 0 0 auto;
  margin-right: 1rem;
}

.main-list-checkbox:checked {
  background-color: var(--color-header);
  border-color: var(--color-header);
}

.main-list-task-label {
  /*Flex 1 1 means grow and shrink to take space, auto means start with the content size*/
  flex: 1 1 auto;
  overflow-wrap: anywhere;
}
.main-list-task-label.complete {
  color: var(--color-text-light);
  text-decoration: line-through;
}

.main-list-delete-button {
  /* flex 0 0 auto keeps fixed size */
  flex: 0 0 auto;
  /* slight buffer between button and text */
  margin-left: 1rem;

  /*Visual*/
  background: none;
  border: none;
  color: var(--color-text-light);
}

.main-list-delete-button:hover {
  background-color: var(--color-left-nav-hover);
  color: var(--color-header-light);
  cursor: pointer;
  font-weight: bold;
  border-radius: var(--rounding-radius);
}

.add-task-form {
  display: flex;
  align-items: center;
  padding-top: var(--main-list-padding);
  padding-bottom: var(--main-list-padding);
}

.add-task-input {
  flex: 1 1 auto;
  background: none;
  border: none;
  border-radius: var(--rounding-radius);
  font: inherit; /* inherit size/weight too */
  letter-spacing: inherit;
}

.add-task-input:focus {
  outline: none;
}

.add-task-button {
  background: none;
  border: none;
  color: var(--color-text-light);
}

.add-task-button:hover {
  background-color: var(--color-left-nav-hover);
  cursor: pointer;
  font-weight: bold;
  border-radius: var(--rounding-radius);
}

/* ========== RESPONSIVE STYLES ========== */
@media (max-width: 480px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
  }

  .left-nav {
    display: none;
  }
}
